body {
    background-color: #474747;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    transition: 0.3s all;
}
header {
    padding: 20px;
    text-align: center;
    font-size: 25px;
    background: linear-gradient(90deg, rgba(200,174,238,1) 0%, rgba(148,163,233,1) 100%);
    border-radius: 0 0 40px 40px;
}
button {
    font-size: 25px;
    color: black;
    outline: none;
    border: 2px solid white;
    padding: 25px;
    cursor: pointer;
    border-radius: 25px;
    background: linear-gradient(90deg, rgba(200,174,238,1) 0%, rgba(148,163,233,1) 100%);
    transition-duration: 4s;
    animation-delay: 5s;
    transition: 1s;
}
button:hover {
    background: linear-gradient(90deg, rgba(154,194,233,1) 0%, rgba(136,138,215,1) 100%);
}
article {
    padding: 20px;
    text-align: center;
    background-color: white;
    margin-left: 275px;
    margin-right: 275px;
    border-radius: 25px;
}
.preview {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 16px 50px 0 rgba(0, 0, 0, 0.19);
}
.ul1 {
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
    vertical-align: top;
    position: absolute;
    top: 34em;
}
.ul2 {
    font-size: 20px;
    text-align: left;
    right: 20em;
    vertical-align: top;
    position: absolute;
    z-index: 100;
    top: 41em;
}
footer {
    text-align: center;
    background: linear-gradient(90deg, rgba(200,174,238,1) 0%, rgba(148,163,233,1) 100%);
    padding: 15px;
    border-radius: 40px 40px 0 0;
}
pre {
text-align: left;
margin-left: 50px;
border: 2px solid black;
padding: 20px;
border-radius: 40px;
font-size: 14px;
background: linear-gradient(90deg, rgba(217,228,240,1) 0%, rgba(192,194,233,1) 100%);
}